body {
    font-family: 'Nunito', sans-serif;
}

.plusMenu {
    font-size: 3rem;
    position: fixed;
    bottom: 7rem;
    right: 4rem;
    list-style-type: none;
    border-radius: 50px;
    padding: 0px 15px;
    background-color: #007bff;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.nav-link {
    color: #fff;
}


/* 
.dropdown-menu {
    position: absolute;
    top: -90px;
    right: 47px;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem -150px 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: -19.75rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 18%);
} */