.entry-content img {
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.containerTitle {
    border: 1px solid #dedede;
    border-radius: 5px 5px 0 0;
    background-color: #f5f5f5;
    padding: 10px 0 0 15px;
}

.breadcrumbs {
    display: none;
}

.blog {
    margin: 80px 0 0 0;
    padding: 0;
}

.is-invalid {
    border: 2px solid #ff0000 !important;
    background-color: #ffe5e7;
}

.blog .entry .entry-img {
    border-radius: 20px;
}

.img-fluid {
    min-width: -webkit-fill-available;
}